SoapClient/src/main/java/proxy/1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapwebservice.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soapwebservice.example.com/" name="ProductWS">
<types>
<xsd:schema>
<xsd:import namespace="http://soapwebservice.example.com/" schemaLocation="http://localhost:8087/?xsd=1"/>
</xsd:schema>
</types>
<message name="getProduct">
<part name="parameters" element="tns:getProduct"/>
</message>
<message name="getProductResponse">
<part name="parameters" element="tns:getProductResponse"/>
</message>
<message name="fillTheDB">
<part name="parameters" element="tns:fillTheDB"/>
</message>
<message name="fillTheDBResponse">
<part name="parameters" element="tns:fillTheDBResponse"/>
</message>
<message name="getProductList">
<part name="parameters" element="tns:getProductList"/>
</message>
<message name="getProductListResponse">
<part name="parameters" element="tns:getProductListResponse"/>
</message>
<message name="getSellingPrice">
<part name="parameters" element="tns:getSellingPrice"/>
</message>
<message name="getSellingPriceResponse">
<part name="parameters" element="tns:getSellingPriceResponse"/>
</message>
<portType name="ProductWebService">
<operation name="getProduct">
<input wsam:Action="http://soapwebservice.example.com/ProductWebService/getProductRequest" message="tns:getProduct"/>
<output wsam:Action="http://soapwebservice.example.com/ProductWebService/getProductResponse" message="tns:getProductResponse"/>
</operation>
<operation name="fillTheDB">
<input wsam:Action="http://soapwebservice.example.com/ProductWebService/fillTheDBRequest" message="tns:fillTheDB"/>
<output wsam:Action="http://soapwebservice.example.com/ProductWebService/fillTheDBResponse" message="tns:fillTheDBResponse"/>
</operation>
<operation name="getProductList">
<input wsam:Action="http://soapwebservice.example.com/ProductWebService/getProductListRequest" message="tns:getProductList"/>
<output wsam:Action="http://soapwebservice.example.com/ProductWebService/getProductListResponse" message="tns:getProductListResponse"/>
</operation>
<operation name="getSellingPrice">
<input wsam:Action="http://soapwebservice.example.com/ProductWebService/getSellingPriceRequest" message="tns:getSellingPrice"/>
<output wsam:Action="http://soapwebservice.example.com/ProductWebService/getSellingPriceResponse" message="tns:getSellingPriceResponse"/>
</operation>
</portType>
<binding name="ProductWebServicePortBinding" type="tns:ProductWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fillTheDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSellingPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductWS">
<port name="ProductWebServicePort" binding="tns:ProductWebServicePortBinding">
<soap:address location="http://localhost:8087/"/>
</port>
</service>
</definitions>